# Default owners for repository
# 2/n quorum required for merge

*       @mpoke @adityasripal @cwgoes @colin-axner @angbrav

# CODEOWNERS for the CODEOWNER file

/.github/CODEOWNERS @mpoke @adityasripal @cwgoes @colin-axner @angbrav

# CODEOWNERS for the specs

/spec/apps @adityasripal @cwgoes @colin-axner @angbrav

/spec/apps/ics-028-cross-chain-validation @mpoke @adityasripal @cwgoes @angbrav
