# Default owners for repository
# 2/n quorum required for merge

*       @mpoke @adityasripal @cwgoes @colin-axner @angbrav

# CODEOWNERS for the CODEOWNER file

/.github/CODEOWNERS @mpoke @adityasripal @cwgoes @colin-axner @angbrav @damiannolan

# CODEOWNERS for the specs

/spec/app @adityasripal @cwgoes @colin-axner @angbrav

/spec/app/ics-028-cross-chain-validation @mpoke @adityasripal @cwgoes @angbrav @insumity
