# Default owners for repository
# 2/n quorum required for merge

*       @adityasripal @cwgoes @angbrav @damiannolan @sangier

# CODEOWNERS for the CODEOWNER file

/.github/CODEOWNERS @adityasripal @cwgoes @angbrav 

# CODEOWNERS for the specs

/spec/app @adityasripal @cwgoes @damiannolan @sangier

/spec/app/ics-028-cross-chain-validation @mpoke @adityasripal @cwgoes @angbrav @insumity
